.img-card {
	width: 100%;
	height: 50vh;
	background: url("../Assets/common/placeholder.jpg");
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.img-card:hover img {
	opacity: 0.3;
	transition: 0.5s;
}

.img-card:hover {
	background: black;
}
.img-card:hover::after {
	content: var(--content);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 64px;
	color: white;
	transition: 0.5s;
}
.proyect-card {
	display: flex;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card-content {
	flex: 1;
	padding: 30px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
}

.img-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.proyect-card > a {
	flex: 1;
}

.card-content {
	flex: 1;
	padding: 30px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
